# Archivos y carpetas a ignorar en Docker
# .env
# .env.*
*.log
*.out
*.exe
*.test
*.tmp
*.swp
*.bak
*.DS_Store
node_modules/
vendor/
postgres_data/
database/*.sql
.vscode/
.idea/
test.html
README.md
docker-compose.yaml
